<!-- <h1 class="layui-icon" style="top: 3px;margin-left: 20px;">  :: 后台管理 </h1>

 -->

                        <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="layui-icon" style="top: 3px;">&#xe613;</i><cite>管理员管理</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd class="">
                                    <a href="{:url('admin/adminList')}">
                                        <cite>管理员列表</cite>
                                    </a>
                                </dd>
<!--                                 <dd class="">
                                    <a href="javascript:;" _href="./admin-role.html">
                                        <cite>角色管理</cite>
                                    </a>
                                </dd>
                                <dd class="">
                                    <a href="javascript:;" _href="./admin-cate.html">
                                        <cite>权限分类</cite>
                                    </a>
                                </dd>
                                <dd class="">
                                    <a href="javascript:;" _href="./admin-rule.html">
                                        <cite>权限管理</cite>
                                    </a>
                                </dd> -->
                            </dl>
                        </li>



<li class="layui-nav-item">
    <a class="javascript:;"href="javascript:;">
        <i class="layui-icon" style="top: 3px;">&#xe630;</i><cite>分类管理</cite>
    </a>
    <dl class="layui-nav-child">
        <dd class="">
            <a href="{:url('sercate/sercatelist')}">
                <cite>服务类型管理</cite>
            </a>
        </dd>
        <dd class="">
            <a href="{:url('area/arealist')}">
                <cite>服务区域管理</cite>
            </a>
        </dd>
    </dl>
</li>

<li class="layui-nav-item">
    <a class="javascript:;" href="javascript:;">
        <i class="layui-icon" style="top: 3px;">&#xe62d;</i><cite>项目项目</cite>
    </a>
    <dl class="layui-nav-child">
        <dd class="">
            <dd class="">
                <a href="{:url('serproject/serprojectlist')}">
                    <cite>项目列表</cite>
                </a>
            </dd>
        </dd>
    </dl>
</li>
<!-- <h2 class="layui-icon" style="top: 3px;margin-left: 20px;">  :: 员工端管理 </h2> -->
<li class="layui-nav-item">
    <a class="javascript:;" href="javascript:;">
        <i class="layui-icon" style="top: 3px;">&#xe642;</i><cite>订单管理</cite>
    </a>
    <dl class="layui-nav-child">
        <dd class="">
            <dd class="">
                <a href="{:url('khorder/khorderList')}">
                    <cite>客户订单列表</cite>
                </a>
            </dd>
            <dd class="">
                <a href="{:url('qdorder/qdorderList')}">
                    <cite>客户抢单列表</cite>
                </a>
            </dd>
        </dd>
    </dl>
</li>
<!-- <li class="layui-nav-item">
    <a class="javascript:;" href="javascript:;">
        <i class="layui-icon" style="top: 3px;">&#xe606;</i><cite>评论管理</cite>
    </a>
    <dl class="layui-nav-child">
        <dd class="">
            <a href="javascript:;" _href="./comment-list.html">
                <cite>评论列表</cite>
            </a>
        </dd>
        <dd class="">
            <a href="javascript:;" _href="./feedback-list.html">
                <cite>意见反馈</cite>
            </a>
        </dd>
    </dl>
</li> -->
<!-- <h2 class="layui-icon" style="top: 3px;margin-left: 20px;">  :: 客户端管理  </h2> -->
<!-- <li class="layui-nav-item">
    <a class="javascript:;" href="javascript:;">
        <i class="layui-icon" style="top: 3px;">&#xe612;</i><cite>会员管理</cite>
    </a>
    <dl class="layui-nav-child">
        <dd class="">
            <a href="javascript:;" _href="member-list.html">
                <cite>会员列表</cite>
            </a>
        </dd>
    </dl>
</li>
 -->
<li class="layui-nav-item">
    <a class="javascript:;" href="javascript:;">
        <i class="layui-icon" style="top: 3px;">&#xe634;</i><cite>营销管理</cite>
    </a>
    <dl class="layui-nav-child">
        <dd class="">
            <dd class="">
                <a href="javascript:;" href="./banner-list.html">
                    <cite>抢购管理</cite>
                </a>
            </dd>
            <dd class="">
                <a href="javascript:;" _href="./banner-list.html">
                    <cite>优惠促销</cite>
                </a>
            </dd>
            <dd class="">
                <a href="javascript:;" href="./banner-list.html">
                    <cite>促销订单</cite>
                </a>
            </dd>
            <dd class="">
                <a href="javascript:;" href="./member-kiss.html">
                    <cite>积分管理</cite>
                </a>
            </dd>
        </dd>
    </dl>
</li>