{layout name="public/layout" /}
        <div class="x-body">
            <xblock><button class="layui-btn" onclick="add();return false;"><i class="layui-icon">&#xe608;</i>添加</button></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            服务类型
                        </th>
                        <th>
                            抢单类型
                        </th>
                        <th>
                            抢单开始时间
                        </th>
                        <th>
                            抢单截止时间
                        </th>
                        <th>
                            数量
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="qdList" id="qdo" empty="$empty"}
                    <tr>
                        <td>
                           {$qdo.id}
                        </td>
                        <td>
                           {$qdo.sid}
                        </td>
                        <td>
                           {$qdo.qdtype}
                        </td>
                        <td>
                           {$qdo.qdbjtime}
                        </td>
                        <td>
                           {$qdo.qdendtime}
                        </td>
                        <td>
                           {$qdo.num}
                        </td>
                        <td class="td-manage">
                            <a title="编辑" href="{:url('qdorder/qdorderList',['id'=>$qdo.id])}"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                            <a title="删除" href="" onclick="dele({$qdo.id});return false;" 
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>

            <div id="page"></div>
        </div>
<script>
    function dele()
    {
        if(confirm('您真的要删除吗?') == true){
            window.location.href = "{:url('qdorder/doDelete')}"+"?id="+id;          
        }
    }
    function add()
    {
            window.location.href = "./qdorderadd.html";  
    }

</script>