{layout name="public/layout" /}
        <div class="x-body">
            <xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            订单编号
                        </th>
                        <th>
                            服务项目
                        </th>
                        <th>
                            接单人
                        </th>
                        <th>
                            开工时间
                        </th>
                        <th>
                            完工时间
                        </th>
                        <th>
                            服务时长
                        </th>
                        <th>
                            服务地址
                        </th>
                        <th>
                            联系人
                        </th>
                        <th>
                            联系电话
                        </th>
                        <th>
                            付款方式
                        </th>
                        <th>
                            付款状态
                        </th>
                        <th>
                            订单状态
                        </th>
                        <th>
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="koList" id="ko" empty="$empty"}
                    <tr>
                        <td>
                           {$ko.id}
                        </td>
                        <td>
                           {$ko.oid}
                        </td>
                        <td>
                           {$ko.name}
                        </td>
                        <td>
                           {$ko.workbjtime}
                        </td>
                        <td>
                           {$ko.workendtime}
                        </td>
                        <td>
                           {$ko.sertime}
                        </td>
                        <td>
                           {$ko.seraddr}
                        </td>
                        <td>
                           {$ko.lxr}
                        </td>
                        <td>
                           {$ko.tel}
                        </td>
                        <td>
                           {$ko.pay}
                        </td>
                        <td>
                           {$ko.paystatus}
                        </td>
                        <td>
                           {$ko.status}
                        </td>
                        <td>
                           {$ko.bz}
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>

            <div id="page">{$koList|raw}</div>
        </div>