{layout name="public/layout" /}
        <div class="x-body">
            <form class="layui-form" action="{:url('area/doEdit')}" method="post">
                <div class="layui-form-item">
                    <label for="adname" class="layui-form-label">
                        <span class="x-red">*</span>名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="adname" lay-verify="required" value="{$adInfo['adname']}" 
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                  <input type="hidden" name="id" value="{$adInfo['id']}">
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="save" lay-submit="">
                        保存
                    </button>
                </div>
            </form>
        </div>
